::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff !important;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  height: 10% !important;
  background-color: #1e3a8a;
  border-radius: 10px;
  border: 3px solid #ffffff !important;
}
